.landingpage{
    margin:0;
    padding:0;
    box-sizing:border-box;
    background-image:url('/Users/mangeshyadav/Desktop/Spring/MySpringPrograms/Emp React /src/assets/6.jpg');
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    height:100vh;
}